.container {
    position: relative;
    color: #1D1D1B;
    padding: 7.5em 1.8rem;
    max-width: 1920px;
    margin: auto;
    h1 {
        font-size: 5em;
        letter-spacing: -2px;
        line-height: 100%;
        margin-bottom: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 2rem;

        th, td {
            border: 1px solid #1D1D1B;
            padding: 1rem;
            text-align: left;
        }

        th {
            background-color: #A9A9A9;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 7.5em 1rem;
        h1 {
            font-size: 2.8em;
        }
        table {
            margin: auto;
            font-size: 0.55em;
            th, td {
                padding: 0.5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 7.5em 2rem;
        h1 {
            font-size: 3.6em;
        }
    }
} 

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1567px) {
    .container {
        padding: 7.5em 2.6rem;
    }
}