.container {
    position: relative;
    place-content: center;
    

    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        .image__container {
            position: relative;
            &:nth-of-type(1) { 
                z-index: 2;
                position: absolute;
            }
            &:nth-of-type(2) { 
                z-index: 2;
                position: absolute;
            }
            &:nth-of-type(3) { 
                z-index: 1;
            }
            &:nth-of-type(4) { 
                z-index: 2;
                position: absolute;
            }
            &:nth-of-type(5) { 
                z-index: 2;
                position: absolute;
            }
            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .container {
        height: 70vh;
        margin-bottom: 5em;

        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: 10vh;
                    top: calc(85vh - 28vh);
                    left: calc(100vw - 90vw);
                }

                &:nth-of-type(2) {
                    height: 15vh;
                    width: auto;
                    top: calc(90vh - 60vh);
                    left: calc(100vw - 102vw);
                }

                &:nth-of-type(3) {
                    height: calc(100vh - 45vh);
                    width: calc(100vw - 40vw);
                }

                &:nth-of-type(4) {
                    height: 15vh;
                    width: auto;
                    top: calc(85vh - 65vh);
                    right: calc(100vw - 100.5vw);
                }

                &:nth-of-type(5) {
                    height: 15vh;
                    width: auto;
                    top: calc(85vh - 35vh);
                    right: calc(100vw - 98vw);
                }
            }
        }
    }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        height: 100vh;
        margin-bottom: 5em;

        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: calc(100vh - 85vh);
                    top: calc(100vh - 20vh);
                    left: calc(100vw - 95vw);
                }

                &:nth-of-type(2) {
                    height: calc(100vh - 75vh);
                    top: calc(100vh - 70vh);
                    left: calc(100vw - 110vw);
                }

                &:nth-of-type(3) {
                    height: calc(100vh - 30vh);
                    width: calc(100vw - 40vw);
                }

                &:nth-of-type(4) {
                    height: calc(100vh - 75vh);
                    top: calc(100vh - 75vh);
                    right: calc(100vw - 108vw);
                }

                &:nth-of-type(5) {
                    height: calc(100vh - 80vh);
                    top: calc(100vh - 30vh);
                    right: calc(100vw - 96vw);
                }
            }
        }
    }
}

// Desktop
@media only screen and (min-width: 1025px) and (max-width: 1536px) {
    .container {
        height: 100vh;
        margin-bottom: 10em;
        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: calc(100vh - 80vh);
                    top: calc(100vh - 15vh);
                    left: calc(100vw - 93vw);
                }

                &:nth-of-type(2) {
                    height: calc(100vh - 70vh);
                    top: calc(100vh - 80vh);
                    left: calc(100vw - 108vw);
                }

                &:nth-of-type(3) {
                    height: calc(100vh - 20vh);
                    width: calc(100vw - 40vw);
                }

                &:nth-of-type(4) {
                    height: calc(100vh - 70vh);
                    top: calc(100vh - 85vh);
                    right: calc(100vw - 106vw);
                }

                &:nth-of-type(5) {
                    height: calc(100vh - 75vh);
                    top: calc(100vh - 25vh);
                    right: calc(100vw - 95vw);
                }
            }
        }
    }
}

@media only screen and (min-width: 1537px) and (max-width: 1899px) {
    .container {
        height: 100vh;
        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: calc(100vh - 80vh);
                    top: calc(100vh - 15vh);
                    left: calc(100vw - 85vw);
                }

                &:nth-of-type(2) {
                    height: calc(100vh - 65vh);
                    top: calc(100vh - 80vh);
                    left: calc(100vw - 98vw);
                }

                &:nth-of-type(3) {
                    height: 90vh;
                    width: auto;
                }

                &:nth-of-type(4) {
                    height: calc(100vh - 65vh);
                    top: calc(100vh - 90vh);
                    right: calc(100vw - 96.5vw);
                }

                &:nth-of-type(5) {
                    height: calc(100vh - 70vh);
                    top: calc(100vh - 25vh);
                    right: calc(100vw - 90vw);
                }
            }
        }
    }
}

@media only screen and (min-width: 1900px) {
    .container {
        height: 110vh;
        margin-bottom: 10em;
        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: calc(100vh - 80vh);
                    top: calc(100vh - 10vh);
                    left: calc(100vw - 77vw);
                }

                &:nth-of-type(2) {
                    height: calc(100vh - 55vh);
                    top: calc(100vh - 80vh);
                    left: calc(100vw - 90vw);
                }

                &:nth-of-type(3) {
                    height: 100vh;
                    width: auto;
                }

                &:nth-of-type(4) {
                    height: calc(100vh - 55vh);
                    top: calc(100vh - 90vh);
                    right: calc(100vw - 90vw);
                }

                &:nth-of-type(5) {
                    height: calc(100vh - 70vh);
                    top: calc(100vh - 20vh);
                    right: calc(100vw - 78vw);
                }
            }
        }
    }
}
