.container {
    font-family: 'Neue Montreal', sans-serif;
    color: #1D1D1B;
    width: 100%;

    .title {
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }
    .interfaces {
        display: flex;
        justify-content: space-between;
        .search__input {
            border: 1px solid #1D1D1B;
            background-color: transparent;
            padding: 15px 30px;
            &::placeholder {
                color: #5c5a5a;
            }
        }
        .dropdown__container {
            display: flex;
            margin-left: 3px;
            gap: 3px;
            .dropdown {
                padding: 15px 10px;
                border: none;
                border: 1px solid #1D1D1B;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
    .offers{
        display: grid;
        align-items: start;
        justify-content: space-between;
        justify-content: center;
        gap: .5em;

        .offer__container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 1.25em;
            margin-bottom: 2em;
            .image {
                object-fit: cover;
                width: 100%;
                height: auto;
                aspect-ratio: 1 / 1.15;
                border-radius: .75em;
                margin-bottom: 1em;
            }
            .offer__info {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                .offer__name {
                    margin: 0 0 0.2rem 0;
                    line-height: 95%;
                }
                .offer__description {
                    margin-bottom: .5em;
                }
                .offer__price {
                    .highlight {
                        font-weight: 600;
                        letter-spacing: -1px;
                    }
                }
            }
            .add__item {
                margin-top: auto;
                background-color: #1D1D1B;
                color: #F0F2F1;
                // padding: 15px 25px;
                text-transform: uppercase;
                border-radius: 10px;
                border: none;
                align-self: flex-start;
                cursor: pointer;
            }
        }
    }

    .cart {
        margin-top: 2rem;
        border-top: 2px solid #1D1D1B;
        padding-top: 2rem;

        .cart__name {
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        .cart__table {
            width: 100%;
            border-collapse: collapse;

            .table__header, .table__data {
                padding: 10px;
                border: 1px solid #1D1D1B;
                text-align: left;

                .rating__icon {
                    cursor: pointer;
                }
            }

            .item__quantity {
                width: 50px;
                text-align: center;
                background-color: #1D1D1B;
                color: #F0F2F1;
                border: none;
            }

            .remove__item {
                background-color: #1D1D1B;
                color: #F0F2F1;
                padding: 10px 25px;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
            }
        }

        .cartTotal {
            margin-top: 1rem;
            text-align: right;

            .total__price {
                font-size: 1.2rem;
                margin-bottom: .5em;
            }

            .checkout {
                background-color: #1D1D1B;
                color: #F0F2F1;
                padding: 15px 25px;
                text-transform: uppercase;
                border: none;
                border-radius: 10px;
                cursor: pointer;

                a {
                    color: #F0F2F1;
                    text-decoration: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 10em 1em;
        .title {
            font-size: 2.6em;
        }
        .interfaces {
            margin: 1em 0 2.5em 0;
            .search__input {
                padding: 15px 30px;
                width: 50%;
            }
            .dropdown__container {
                .dropdown {
                    padding: 10px 10px;
                    width: 50%;
                }
            }
        }
        .offers{
            grid-template-columns: repeat(2, 1fr);
            .offer__container {
                padding: .5rem;
                background: linear-gradient(30deg, #1D1D1B -30%,#F0F2F1 , #D9D9D9);
                border-radius: .75em;
                .image {
                    max-height: 100%;
                }
                .offer__info {
                    width: calc(100% - 5px);
                    .offer__name {
                        font-size: 1.3em;
                    }
                    .offer__description {
                        font-size: 0.8rem;
                        width: 95%;
                    }
                    .highlight {
                        font-size: 1.2em;
                    }
                }
            }
        }

        .add__item {
            padding: 12px 25px;
            border-radius: 10px;
            font-size: 0.8em;
            cursor: pointer;
        }

        .cart {
            .cart__table {
                .table__header, .table__data {
                    padding: 10px;
                    border: 1px solid #1D1D1B;
                    text-align: left;
    
                    &:nth-of-type(4) {
                        display: none;
                    }
                }

                .remove__item {
                    background-color: #1D1D1B;
                    font-size: 0.7em;
                    color: #F0F2F1;
                    padding: 10px 5px;
                    text-transform: uppercase;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 8.5em 1.7em;
        .title {
            font-size: 3.6em;
        }
        .interfaces {
            margin: 1em 0 2.5em 0;
        }
        .offers{
            grid-template-columns: repeat(2, 1fr);
            .offer__container {
                background: linear-gradient(30deg, #1D1D1B -25%,#F0F2F1 , #D9D9D9 ,#1D1D1B);
                border-radius: .75em;
                padding: 0.8em;
                .image {
                    max-height: 70%;
                }
                .offer__info {
                    width: calc(100% - 10px);
                    .offer__name {
                        font-size: 1.6em;
                    }
                    .offer__description {
                        font-size: 1rem;
                    }
                    .highlight {
                        font-size: 1.4em;
                    }
                }
            }
        }

        .add__item {
            padding: 15px 25px;
        }
    }
}

// Desktop
@media only screen and (min-width: 1024px) {
    .container {
        padding: 11em 1.6rem;
        .title {
            font-size: 4.5em;
        }
        .interfaces {
            margin: 1em 0 2em 0;
        }
        .offers{
            grid-template-columns: repeat(3, 1fr);
            .offer__container {
                background: linear-gradient(30deg, #1D1D1B -25%,#F0F2F1 , #D9D9D9 ,#1D1D1B);
                border-radius: 1em;
                padding: 0.8em;
                .image {
                    max-height: 100%;
                }
                .offer__info {
                    width: calc(100% - 10px);
                    .offer__name {
                        font-size: 1.6em;
                    }
                    .offer__description {
                        font-size: 1rem;
                    }
                }
            }
        }
        .add__item {
            padding: 15px 25px;
        }
    }
}

@media only screen and (min-width: 1567px) {
    .container {
        max-width: 1980px;
        margin: auto;
        padding: 11em 2.3em;
        .offers{
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            .offer__container {
                padding: 1.2rem;
                background: linear-gradient(30deg, #1D1D1B -20%,#F0F2F1 , #F0F2F1 ,#1D1D1B);
                .offer__info {
                    width: calc(100% - 15px);
                    .offer__name {
                        font-size: 1.8em;
                    }
                    .highlight {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}   
