.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #1D1D1B;
    gap: 5px;
    border-radius: 20px;

    .infograph {
        height: auto;
        padding: 0;
    }

    .satori {
        object-fit: cover;
        height: auto;
        padding: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 1567px) {
    .container {
        flex-direction: column;
        padding: 40px 10px;

        .infograph {
            width: 90%;
            margin: 0 auto;
        }

        .satori {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1567px) {
    .container {
        flex-direction: row;
        padding: 70px 40px;
        
        .infograph {
            width: 40%;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }

        .satori {
            width: 40%;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    }
}