.container {
    text-align: center;
  
    .content {
        // display: inline-block;
        span {
            font-family: 'ITC Avant Garde', sans-serif;
            font-weight: 800;
            line-height: 85%;
            letter-spacing: -3px;
            text-transform: uppercase;
            color: #1d1d1b;
        }
    }
  
    .description__container {
        .description {
            color: #1d1d1b;
            margin: 1em auto 1.5em auto;
            text-transform: uppercase;
            font-family: 'Neue Montreal', sans-serif;
            letter-spacing: -0.5px;
        }
    }
  
    .button__container {
        .feature__button {
            background-color: #1d1d1b;
            color: #f0f2f1;
            border-radius: 25px;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .video__container {
        display: flex;
        
        margin: auto;
        overflow: hidden;
        object-fit: cover;
        .video1 {
            z-index: 99;
            .video {
                border-radius: 10px;
                z-index: 99;
            }
        }
        .video2 {
            .video {
                border-radius: 10px;
            }
        }
    }
}
  
@media only screen and (max-width: 768px) {
    .container {
        .content {
            span {
                font-size: 1.7em;
            }
        }
        .description__container {
            .description {
                width: 70%;
                font-size: 0.8em;
            }
        }

        .button__container {
            .feature__button {
                padding: 15px 25px;
                font-size: 0.8em;
                margin-bottom: 4em;
            }
        }
        .video__container {
            width: 95%;
            gap: 5px;
            .video1 {
                .video {
                    width: 100%;
                }
            }
            .video2 {
                .video {
                    width: 100%;
                }
            }
        }
    }
}
  
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        .content {
            span {
                font-size: 3.2em;
            }
        }
        .description__container {
            .description {
                font-size: 1.125em;
                max-width: 60%;
            }
        }
        .button__container {
            .feature__button {
                padding: 20px 35px;
                font-size: 1.2em;
                margin-bottom: 4em;
            }
        }
        .video__container {
            width: 80%;
            gap: 5px;
            .video1 {
                .video {
                    width: 100%;
                }
            }
            .video2 {
                .video {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        margin-bottom: 10em;
        .content {
            span {
                font-size: 5em;
            }
        }

        .description__container {
            .description {
                font-size: 1.2em;
                max-width: 38%;
            }
        }
        .button__container {
            .feature__button {
                padding: 20px 35px;
                font-size: 1.2em;
                margin-bottom: 4em;
            }
        }
        .video__container {
            width: 50%;
            justify-content: center;
            .video1 {
                .video {
                    width: 95%;
                }
            }
            .video2 {
                .video {
                    width: 95%;
                }
            }
        }
    }
}
  