.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    .title {
        text-transform: uppercase;
        font-family: 'Neue Montreal', sans-serif;
        color: #1D1D1B;
        line-height: 85%;
        letter-spacing: -3px;
        span {
            display: inline-block;
            width: 100%;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); //for the animation
        }
    }
    .description {
        text-transform: uppercase;
        font-family: 'Neue Montreal', sans-serif;
        color: #5c5a5a;
        font-size: 1em;
        .content {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .container {
        padding: 1em;
        .title {
            width: 100%;
            font-size: 2.8em;
            margin-bottom: 1em;
            span {
                &:nth-of-type(1) {
                    text-align: left;
                }
                &:nth-of-type(2) {
                    text-align: right;
                }
                &:nth-of-type(3) {
                    text-align: right;
                }
            }
        }
        .description {
            width: 75%;
            font-size: 0.8rem;
        }
    }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        height: 70vh;
        margin-top: 200px;
        padding: 1.6em;
        .title {
            font-size: 3.6em;
            margin-bottom: 1em;
            span {
                &:nth-of-type(1) {
                    text-align: left;
                }
                &:nth-of-type(2) {
                    text-align: right;
                }
                &:nth-of-type(3) {
                    text-align: right;
                }
            }
        }
        .description {
            width: 54%;
            font-size: 1rem;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1567px) {
    .container {
        margin: 200px 0 220px 0;
        height: 50vh;
        padding: 1.6em;

        .title {
            font-size: 4em;
            margin-bottom: 1em;
            span {
                &:nth-of-type(1) {
                    text-align: left;
                }
                &:nth-of-type(2) {
                    text-align: right;
                }
                &:nth-of-type(3) {
                    text-align: right;
                }
            }
        }
        .description {
            width: 54%;
            font-size: 1.2em;
        }
    }
}

// Desktop
@media only screen and (min-width: 1567px) {
    .container {
        margin-top: 80px;
        padding: 1.8em;
        max-width: 1980px;
        .title {
            font-size: 6em;
            margin-bottom: 1em;
            span {
                &:nth-of-type(1) {
                    text-align: left;
                }
                &:nth-of-type(2) {
                    text-align: left;
                    padding-left: 5em;
                }
                &:nth-of-type(3) {
                    text-align: right;
                }
            }
        }
        .description {
            font-size: 1.25em;
            width: 33%;
            align-self: end;
        }
    }
}

//2540 x 1440p (large desktop)
@media only screen and (min-width: 1921px) {
    .container {
        height: 95vh;
        padding: 2.8em;
        max-width: 2560px;
        .title {
            font-size: 8em;
            span {
                &:nth-of-type(2) {
                    text-align: left;
                    padding-left: 6em;
                }
            }
        }
        .description {
            font-size: 1.8em;
        }
    }
}