.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    .title {
        text-transform: uppercase;
        font-family: 'Neue Montreal', sans-serif;
        color: #1D1D1B;
        line-height: 85%;
        letter-spacing: -3px;

        span {
            display: inline-block;
            width: 100%;
        }
    }

    .description {
        text-transform: uppercase;
        font-family: 'Neue Montreal', sans-serif;
        color: #7C7C7C;
        font-size: 1em;
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .container {
        height: 95vh;
        .title {
            width: 100%;
            font-size: 3.5em;
            margin-bottom: 1em;

            span {

                &:nth-of-type(1) {
                    text-align: left;
                }
                &:nth-of-type(2) {
                    text-align: right;
                }
                &:nth-of-type(3) {
                    text-align: right;
                }
            }
        }
        .description {
            width: 75%;
        }
    }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        height: 70vh;
        .title {
            font-size: 4em;
            margin-bottom: 1em;

            span {

                &:nth-of-type(1) {
                    text-align: left;
                }
                &:nth-of-type(2) {
                    text-align: right;
                }
                &:nth-of-type(3) {
                    text-align: right;
                }
            }
        }
        .description {
            width: 54%;
        }
    }
}

// Desktop
@media only screen and (min-width: 1025px) {
    .container {
        .title {
            font-size: 6.5em;
            margin-bottom: 1em;

            span {
                &:nth-of-type(1) {
                    text-align: left;
                }
                &:nth-of-type(2) {
                    text-align: left;
                    padding-left: 2.5em;
                }
                &:nth-of-type(3) {
                    text-align: right;
                }
            }
        }
        .description {
            font-size: 1.25em;
            width: 33%;
            position: absolute;
            right: 0;
            transform: translateY(10.5em);
        }
    }
}