.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    place-content: center;
    // overflow: hidden;
    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        .image__container {
            position: absolute;
            &:nth-of-type(1) { z-index: 2; }
            &:nth-of-type(2) { z-index: 2; }
            &:nth-of-type(3) { z-index: 1; }
            &:nth-of-type(4) { z-index: 2; }
            &:nth-of-type(5) { z-index: 2; }
            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .container {
        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: 10vh;
                    top: calc(100vh - 28vh);
                    left: calc(100vw - 95vw);
                }

                &:nth-of-type(2) {
                    height: 15vh;
                    width: auto;
                    top: calc(100vh - 60vh);
                    left: calc(100vw - 110vw);
                }

                &:nth-of-type(3) {
                    height: calc(100vh - 45vh);
                    width: calc(100vw - 40vw);
                }

                &:nth-of-type(4) {
                    height: 15vh;
                    width: auto;
                    top: calc(100vh - 75vh);
                    right: calc(100vw - 108vw);
                }

                &:nth-of-type(5) {
                    height: 15vh;
                    width: auto;
                    top: calc(100vh - 30vh);
                    right: calc(100vw - 98vw);
                }
            }
        }
    }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: calc(100vh - 85vh);
                    top: calc(100vh - 20vh);
                    left: calc(100vw - 95vw);
                }

                &:nth-of-type(2) {
                    height: calc(100vh - 75vh);
                    top: calc(100vh - 70vh);
                    left: calc(100vw - 112vw);
                }

                &:nth-of-type(3) {
                    height: calc(100vh - 25vh);
                    width: calc(100vw - 30vw);
                }

                &:nth-of-type(4) {
                    height: calc(100vh - 75vh);
                    top: calc(100vh - 75vh);
                    right: calc(100vw - 110vw);
                }

                &:nth-of-type(5) {
                    height: calc(100vh - 80vh);
                    top: calc(100vh - 30vh);
                    right: calc(100vw - 96vw);
                }
            }
        }
    }
}

// Desktop
@media only screen and (min-width: 1025px) {
    .container {
        background-color: red;
        .images {
            .image__container {
                // &:nth-of-type(1) {
                //     height: 25vh;
                //     width: auto;
                //     z-index: 2;
                //     left: 20vw;
                //     top: 85vh;
                // }
                
                // &:nth-of-type(2) {
                //     height: 45vh;
                //     width: auto;
                //     z-index: 2;
                //     left: 13vw;
                //     top: 20vh;
                // }
                
                // &:nth-of-type(3) {
                //     height: 95vh;
                //     width: auto;
                //     z-index: 1;
                // }
                
                // &:nth-of-type(4) {
                //     height: 45vh;
                //     width: auto;
                //     z-index: 2;
                //     right: 14.3vw;
                //     top: 10vh;
                // }
                
                // &:nth-of-type(5) {
                //     height: 35vh;
                //     width: auto;
                //     z-index: 2;
                //     top: 70vh;
                //     right: 20vw;
                // }

                &:nth-of-type(1) {
                    height: 25vh;
                    width: auto;
                    z-index: 2;
                    left: 10vw;
                    top: 85vh;
                }
                
                &:nth-of-type(2) {
                    height: 45vh;
                    width: auto;
                    z-index: 2;
                    left: -3vw;
                    top: 20vh;
                }
                
                &:nth-of-type(3) {
                    height: 100%;
                    width: auto;
                    z-index: 1;
                }
                
                &:nth-of-type(4) {
                    height: 45vh;
                    width: auto;
                    z-index: 2;
                    right: 14.3vw;
                    top: 10vh;
                }
                
                &:nth-of-type(5) {
                    height: 35vh;
                    width: auto;
                    z-index: 2;
                    top: 70vh;
                    right: 20vw;
                }
            }
        }
    }
}
