.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    place-content: center;
    // overflow: hidden;
    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        .image__container {
            position: absolute;
            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .container {
        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: 10vh;
                    top: calc(100vh - 28vh);
                    left: calc(100vw - 95vw);
                    z-index: 2;
                }

                &:nth-of-type(2) {
                    height: 15vh;
                    width: auto;
                    top: calc(100vh - 60vh);
                    left: calc(100vw - 110vw);
                    z-index: 2;
                }

                &:nth-of-type(3) {
                    height: calc(100vh - 45vh);
                    width: calc(100vw - 40vw);
                    z-index: 1;
                }

                &:nth-of-type(4) {
                    height: 15vh;
                    width: auto;
                    top: calc(100vh - 75vh);
                    right: calc(100vw - 108vw);
                    z-index: 2;
                }

                &:nth-of-type(5) {
                    height: 15vh;
                    width: auto;
                    top: calc(100vh - 30vh);
                    right: calc(100vw - 98vw);
                    z-index: 2;
                }
            }
        }
    }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        .images {
            .image__container {
                &:nth-of-type(1) {
                    height: 15vh;
                    width: auto;
                    z-index: 2;
                    left: 5vw;
                    top: 85vh;
                    transform: translateY(-50%);
                }

                &:nth-of-type(2) {
                    height: 25vh;
                    width: auto;
                    z-index: 2;
                    left: -7vw;
                    top: 30vh;
                }

                &:nth-of-type(3) {
                    height: 75vh;
                    width: 70vw;
                    z-index: 1;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &:nth-of-type(4) {
                    height: 25vh;
                    width: auto;
                    z-index: 2;
                    right: -5vw;
                    top: 20vh;
                }

                &:nth-of-type(5) {
                    height: 20vh;
                    width: auto;
                    z-index: 2;
                    right: 4vw;
                    top: 75vh;
                }
            }
        }
    }
}

// Desktop
@media only screen and (min-width: 1025px) {
    .container {
        background-color: red;
        .images {
            .image__container {
                // &:nth-of-type(1) {
                //     height: 25vh;
                //     width: auto;
                //     z-index: 2;
                //     left: 20vw;
                //     top: 85vh;
                // }
                
                // &:nth-of-type(2) {
                //     height: 45vh;
                //     width: auto;
                //     z-index: 2;
                //     left: 13vw;
                //     top: 20vh;
                // }
                
                // &:nth-of-type(3) {
                //     height: 95vh;
                //     width: auto;
                //     z-index: 1;
                // }
                
                // &:nth-of-type(4) {
                //     height: 45vh;
                //     width: auto;
                //     z-index: 2;
                //     right: 14.3vw;
                //     top: 10vh;
                // }
                
                // &:nth-of-type(5) {
                //     height: 35vh;
                //     width: auto;
                //     z-index: 2;
                //     top: 70vh;
                //     right: 20vw;
                // }

                &:nth-of-type(1) {
                    height: 25vh;
                    width: auto;
                    z-index: 2;
                    left: 10vw;
                    top: 85vh;
                }
                
                &:nth-of-type(2) {
                    height: 45vh;
                    width: auto;
                    z-index: 2;
                    left: -3vw;
                    top: 20vh;
                }
                
                &:nth-of-type(3) {
                    height: 100%;
                    width: auto;
                    z-index: 1;
                }
                
                &:nth-of-type(4) {
                    height: 45vh;
                    width: auto;
                    z-index: 2;
                    right: 14.3vw;
                    top: 10vh;
                }
                
                &:nth-of-type(5) {
                    height: 35vh;
                    width: auto;
                    z-index: 2;
                    top: 70vh;
                    right: 20vw;
                }
            }
        }
    }
}
