@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde', sans-serif;
  src: url('../../public/fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F2F1;
  font-family: 'NeueMontreal', sans-serif;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.4rem;
  background: #1D1D1B;
}

::-webkit-scrollbar-thumb {
  background: #F0F2F1;
  border-radius: .3rem;
}