@font-face {
  font-family: 'Neue Montreal';
  src: url('../../public/fonts/NeueMontreal-Regular.otf'),
       url('../../public/fonts/NeueMontreal-Bold.otf');
}

@font-face {
  font-family: 'ITC Avant Garde';
  src: url('../../public/fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf');
}
/* 
* {
  border: 1px solid red;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #F0F2F1;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.4rem;
  background: #1D1D1B;
}

::-webkit-scrollbar-thumb {
  background: #F0F2F1;
  border-radius: .3rem;
}