@font-face {
  font-family: 'Neue Montreal';
  src: url('../../public/fonts/NeueMontreal-Regular.otf'),
       url('../../public/fonts/NeueMontreal-Bold.otf');
}

@font-face {
  font-family: 'ITC Avant Garde';
  src: url('../../public/fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F2F1;
}
