.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    font-family: 'Neue Montreal', sans-serif;
    gap: 10px;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .footer {
    }
}

