.header{
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    color: #000;
    padding: 50px;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    align-items: center;
    
    .logo{
        display: flex;
        cursor: pointer;
        p{
            margin: 0px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        .name{
            &:hover{
                transform: rotate(360deg);
            }
        }
    }
}
.headerButtonContainer{
    transform: scale(1);
    position: fixed;
    
    right: 0px;
    z-index: 4;

    .button{
        position: relative;
        margin: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #1C1D20;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .burger{
        width: 100%;
        position: relative;
        z-index: 1;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }
    
        &::after{
            top: -5px;
        }
    
        &::before{
            top: 5px;
        }
    }
    
    .burgerActive{
        &::after{
            transform: rotate(45deg);
            top: -1px;
        }
    
        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
        
    }
}

// Mobile
@media only screen and (max-width: 767px) {

}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

// Desktop
@media only screen and (min-width: 1025px) {

}

