.header{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    color: #1D1D1B;
    width: 100%;
    z-index: 99;
    .logo{
        cursor: pointer;
        .brand__name {
            text-transform: uppercase;
            letter-spacing: -2px;
            margin: 0;
            padding: 0;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #1D1D1B;
                font-family: 'Neue Montreal', sans-serif;
                font-weight: 800;
                .brand__logo {
                    height: auto;
                    width: 40px;
                }
            }
        }
    }
}

.headerButtonContainer{
    transform: scale(1);
    position: fixed;
    right: 0px;
    z-index: 4;
    .button{
        position: relative;
        border-radius: 50%;
        background-color: #1D1D1B;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .burger{
        width: 100%;
        position: relative;
        z-index: 1;
        &::after, &::before{
            content: "";
            display: block;
            height: 2px;
            width: 40%;
            margin: auto;
            background-color: #F0F2F1;
            position: relative;
            transition: transform 0.3s;
        }
    
        &::after{
            top: -5px;
        }
        &::before{
            top: 5px;
        }
    }
    
    .burgerActive{
        &::after{
            transform: rotate(45deg);
            top: -1px;
        }
        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .header {
        font-size: 1.75em;
        padding: 25px 15px;

        .logo {
            .brand__name {
                a {
                    .brand__logo {
                        width: 35px;
                    }
                }
            }
        }

        .headerButtonContainer {
            padding-right: 15px;
            .button {
                width: 50px;
                height: 50px;
            }
        }
    }
}


// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        font-size: 2.2em;
        padding: 30px 25px;

        .headerButtonContainer {
            padding-right: 25px;
            .button {
                width: 60px;
                height: 60px;
            }
        }
    }
}

// Desktop
@media only screen and (min-width: 1025px) {
    .header {
        font-size: 2.3em;
        padding: 35px 45px;

        .headerButtonContainer {
            padding-right: 25px;
            .button {
                width: 80px;
                height: 80px;
            }
        }
    }
}

// 2560 x 1440 (large desktop)
@media only screen and (min-width: 1921px) {
    .header {
        font-size: 2.8em;
        padding: 50px 45px;

        .headerButtonContainer {
            padding-right: 45px;
            .button {
                width: 90px;
                height: 90px;
            }
        }
    }
}

