.menu{
    height: 100vh;
    background-color: #1D1D1B;
    position: fixed;
    right: 0;
    top: 0;
    color: #F0F2F1;
    z-index: 3;
    
    .body{
        box-sizing: border-box;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            font-size: 30px;
            text-transform: uppercase;
            gap: 12px;
            // margin-top: 80px;
            font-family: 'Neue Montreal', sans-serif;

            .header{
                color: #F0F2F1;
                border-bottom: 1px solid #F0F2F1;
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
            }

            a {
                text-decoration: none;
                color: #F0F2F1;
                font-weight: 400;
                letter-spacing: -1px;
                transition: 0.4s;
                
                &:hover {
                    color: #7C7C7C;
                }
            }
            
        }
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .menu {
        width: 100vw;
        .body {
            padding: 50px;
            .nav {
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1567px) {
    .menu {
        .body {
            padding: 50px;
            .nav {
                font-size: 20px;
                margin-bottom: 100px;
            }
        }
    }
}