.container {
  .title {
    font-family: 'ITC Avant Garde', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -3px;
    color: #1D1D1B;
    text-align: center;
  }
  .accordion {
    font-family: 'Neue Montreal', sans-serif;
    .faq__item {
      .faq__button {
        background-color: #F0F2F1;
        color: #1D1D1B;
        border: none;
        border-top: 0.1px solid #1D1D1B;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .faq__number {
          font-family: 'ITC Avant Garde', sans-serif;
          font-weight: 800;
        }
        .faq__question {
          text-align: left;
        }
      }
      .faq__answer {
        color: #1D1D1B;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .container {
    .title {
      font-size: 1.8em;
    }
    .accordion {
      .faq__item {
        .faq__button {
          padding: 10px 30px;

          .faq__number {
            font-size: 2.4em;
          }

          .faq__question {
            font-size: 1.2em;
            width: 50%;
          }

          .faq__toggle {
            font-size: 2.4em;
          }
        }

        .faq__answer {
          font-size: 1rem;
          padding: 10px 50px 40px 50px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    .title {
      font-size: 3.2em;
    }
    .accordion {
      .faq__item {
        .faq__button {
          padding: 15px 75px;

          .faq__number {
            font-size: 3em;
          }

          .faq__question {
            font-size: 1.8em;
            width: 70%;
          }

          .faq__toggle {
            font-size: 3em;
          }
        }

        .faq__answer {
          font-size: 1.4rem;
          padding: 10px 100px 40px 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    .title {
      font-size: 4em;
    }
    .accordion {
      .faq__item {
        .faq__button {
          padding: 20px 75px;

          .faq__number {
            font-size: 3.5em;
          }

          .faq__question {
            font-size: 2.2em;
            width: 70%;
          }

          .faq__toggle {
            font-size: 3.5em;
          }
        }

        .faq__answer {
          font-size: 1.4rem;
          padding: 10px 150px 40px 150px;
        }
      }
    }
  }
}

@media screen and (min-width: 1567px) {
  .container {
    .accordion {
      .faq__item {
        .faq__button {
          // padding: 15px 15%;
          width: 70%;
          margin: auto;

          .faq__number {
            font-size: 4em;
          }

          .faq__question {
            font-size: 2.3em;
            width: 70%;
          }

          .faq__toggle {
            font-size: 3.5em;
          }
        }

        .faq__answer {
          font-size: 1.4rem;
          padding: 10px 25% 40px 24%;
        }
      }
    }
  }
}