.container {
    color: #1D1D1B;
    padding: 7.5em 1.8rem;
    max-width: 1920px;
    margin: auto;
    h1 {
        font-size: 5em;
        letter-spacing: -2px;
        line-height: 100%;
        margin-bottom: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
        text-align: center;
    }

    div {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        .image {
            border-radius: .5em;
            height: auto;

        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 7.5em 1rem;
        h1 {
            font-size: 2.8em;
        }
        div {
            justify-content: center;

            .image {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        h1 {
            font-size: 3.6em;
        }
        div {
            flex-direction: row;

            .image {
                width: 200px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        div {
            flex-direction: row;
            .image {
                max-width: 300px;
            }
        }
    }
}

@media screen and (min-width: 1567px) {
    .container {
        padding: 7.5em 2.2rem;
        div {
            .image {
                max-width: none;
                height: 650px;
                width: auto;
                &:nth-of-type(2) {
                    width: 430px;
                }
            }
        }
    }
}