.container {
    display: flex;
    justify-content: center;
    margin-bottom: 30vh;
    .parallax {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Neue Montreal', sans-serif;
        line-height: 85%;
        color: #1D1D1B;
        letter-spacing: -1px;
    }

    .sentence {
        display: inline-block;
    }

    .character {
        display: inline-block;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .container {
        padding: 1em;
        .parallax {
            font-size: 1.5rem;
        }
    }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin-top: 15%;
        .parallax {
            font-size: 3rem;
        }
    }
}

// Desktop
@media only screen and (min-width: 1024px) and (max-width: 1567px) {
    .container {
        .parallax {
            font-size: 3.8rem;
        }
    }
}

@media only screen and (min-width: 1567px) {
    .container {
        .parallax {
            font-size: 5rem;
        }
    }
}

// Large desktop
@media only screen and (min-width: 1921px) {
    .container {
        .parallax {
            font-size: 5.5rem;
        }
    }
}
