.container {
    background-color: #1D1D1B;
    position: absolute;
    z-index: 99;
    width: 100%;
    .title {
        color: #F0F2F1;
        font-family: 'Neue Montreal', sans-serif;
        text-transform: uppercase;
        line-height: 85%;
        letter-spacing: -3px;
        margin-bottom: 0.8em;
    }

    .outer__container {
        display: flex;
        margin: auto;
        color: #F0F2F1;

        .inner__container {
            display: flex;
            justify-content: space-between;

            .flex__container {
                display: flex;

                .context {
                    .product__title {
                        text-transform: uppercase;
                        letter-spacing: -2px;
                    }
                    
                    .description {
                        width: 100%;
                    }
                }
            }
        }
    }

    .infographic__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .infographic__images {
            height: auto;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 60px 10px;
        .title {
            font-size: 2.2em;
        }
    
        .outer__container {
            flex-direction: column;
            .inner__container {
                .video {
                    width: 25%;
                    margin-bottom: 30px;
                }
    
                .flex__container {
                    justify-content: space-between;
                    gap: 25px;
                    .number {
                        font-size: 1.4em;
                    }
                    
                    .context {
                        .product__title {
                            font-size: 1.8em;
                        }
                        
                        .description {
                            font-size: 0.8em;
                            width: 90%;
                        }
                    }
                }
            }
        }

        .infographic__container {
            flex-direction: column;
    
            .infographic__images {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 80px 20px;
        .title {
            font-size: 2.8em;
        }
    
        .outer__container {
            flex-direction: column;
            .inner__container {
                .video {
                    width: 30%;
                    margin-bottom: 30px;
                }
    
                .flex__container {
                    justify-content: space-between;
                    gap: 60px;
                    .number {
                        font-size: 1.6em;
                    }
                    
                    .context {
                        .product__title {
                            font-size: 2.2em;
                        }
                        
                        .description {
                            font-size: 1em;
                        }
                    }
                }
            }
        }

        .infographic__container {
            flex-direction: column;
    
            .infographic__images {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1567px) {
    .container {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 80px 40px;
        .title {
            font-size: 3.6em;
        }
    
        .outer__container {
            flex-direction: column;
            .inner__container {
                .video {
                    width: 25%;
                    margin-bottom: 30px;
                }
    
                .flex__container {
                    justify-content: space-between;
                    gap: 60px;
                    .number {
                        font-size: 2.2em;
                    }
                    
                    .context {
                        .product__title {
                            font-size: 2.8em;
                        }
                        
                        .description {
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }

        .infographic__container {
            flex-direction: column;
    
            .infographic__images {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1567px) {
    .container {
        padding-bottom: 80px;
        .title {
            font-size: 5em;
            text-align: center;
            padding-top: 120px;
        }
    
        .outer__container {
            justify-content: center;
            gap: 30px;

            .inner__container {
                flex-direction: column-reverse;
                .video {
                    object-fit: cover;
                    margin-bottom: 30px;
                    height: 70%;
                    width: 400px;
                    border-top-left-radius: 40px;
                    border-bottom-right-radius: 40px;
                }
    
                .flex__container {
                    height: 100%;
                    gap: 30px;
                    .number {
                        font-size: 2.2em;
                        padding-top: 3px;
                    }
                    
                    .context {
                        .product__title {
                            font-size: 2.8em;
                        }
                        
                        .description {
                            font-size: 1.25em;
                        }
                    }
                }
            }
            .inner__container:nth-child(1) {
                .video {
                    justify-content: center;
                }
                .flex__container {
                    width: 400px;

                    .description {
                        width: 80%;
                    }
                }
            }
        }

        .infographic__container {
            flex-direction: row;
            width: 75%;
    
            .infographic__images {
                &:nth-of-type(1) {
                    object-fit: fill;
                    width: 55%;
                    height: auto;
                    margin-top: 80px;
                }
                &:nth-of-type(2) {
                    display: none;                    
                }
            }
        }
    }
}

// 2560 x 1440 (large desktop)
@media only screen and (min-width: 1921px) {
    .container {
        .title {
            font-size: 6.5em;
        }
    }
}