.container {
    display: flex;
    font-family: 'Neue Montreal', sans-serif;
    background-color: #1D1D1B;
    color: #F0F2F1;

    .newsletter__container, .career__container, .learn__container {
        border: 1px solid #F0F2F1;
        text-transform: uppercase;
        width: 100%;
        padding: 20px;
        text-align: center;

        .title {
            font-style: italic;
            font-weight: 400;
            letter-spacing: -1px;
            margin-bottom: 15px; 
            line-height: 90%;
        }

        .input__container {
            display: flex;
            justify-content: space-between;
            .input {
                flex: 1;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #F0F2F1;
                color: #F0F2F1;
                &::placeholder {
                    color: #F0F2F1;
                }
            }

            .submit {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #F0F2F1;
                color: #F0F2F1;
                padding: 5px;
                cursor: pointer;
            }
        }

        .link {
            text-decoration: none;
            color: #F0F2F1;
            border: 1px solid #F0F2F1;
            display: inline-block;
            margin-top: 10px;
            transition: 0.6s;
            &:hover {
                background-color: #F0F2F1;
                color: #1D1D1B;
            }
        }
    }
}

//mobile
@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
        flex-direction: column;

        .newsletter__container {
            width: 100%;
            padding: 15px 35px;

            .type {
                font-size: 0.8em;
                margin-bottom: 0;
            }

            .title {
                font-size: 1.6em;
                margin: 5px auto 10px auto;
            }

            .input__container {
                margin-bottom: 20px;
                padding: 10px 0 0 0;
            }
        }
    
        .career__container, .learn__container {
            width: 100%;
            padding: 15px;

            .type {
                font-size: 0.8em;
                margin-bottom: 0;
            }
    
            .title {
                font-size: 1.4em;
                margin: 5px auto 10px auto;
                width: 59%;
            }
    
            .link {
                font-size: 0.9em;
                padding: 8px 25px;
                margin-bottom: 20px;
            }
        }
    }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 40px 60px;
        flex-direction: column;

        .newsletter__container {
            // width: 100%;
            padding: 15px 100px;

            .type {
                font-size: 1em;
                margin-bottom: 0;
            }

            .title {
                font-size: 2em;
                margin: 5px auto 10px auto;
            }

            .input__container {
                margin-bottom: 20px;
                padding: 10px 0 0 0;
                .input {
                    font-size: 1.2em;
                }
                .submit {
                    font-size: 1.2em;
                }
            }
        }
    
        .career__container, .learn__container {
            width: 100%;
            padding: 15px;

            .type {
                font-size: 1em;
                margin-bottom: 0;
            }
    
            .title {
                font-size: 2em;
                margin: 5px auto 10px auto;
                width: 100%;
            }
    
            .link {
                font-size: 1.2em;
                padding: 10px 30px;
                margin-bottom: 20px;
            }
        }
    }
}

//desktop
@media screen and (min-width: 1025px) {
    .container {
        padding: 70px 40px;
        flex-direction: row;
        justify-content: center;

        .newsletter__container, .career__container, .learn__container {
            flex-basis: 30%;
            padding: 20px 70px;
            text-align: left;

            .type {
                font-size: 1em;
                margin-bottom: 0;
            }

            .title {
                font-size: 1.6em;
                margin: 5px auto 15px auto;
            }

            .input__container {
                margin-top: 40px;
                padding: 0 50px 0 0;

                .input {
                    font-size: 1em;
                }

                .submit {
                    font-size: 1em;
                }
            }

            .link {
                font-size: 1.2em;
                padding: 10px 30px;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (min-width: 1567px) {
    .container {
        padding: 70px 10px;
    }
}