.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  .sliderContainer {
    text-align: center;

    .title {
      text-transform: uppercase;
      font-family: "ITC Avant Garde Gothic LT", sans-serif;
      color: #1D1D1B;
      letter-spacing: -3px;
      

      span {
        display: inline-block;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

    .descriptionContainer {
      overflow: hidden; // Ensure the clip-path effect works properly

      .description {
        color: #7C7C7C;
        margin: auto auto 1.5em auto;
        text-transform: uppercase;
        font-family: 'Neue Montreal', sans-serif;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

    .buttonContainer {
      overflow: hidden; // Ensure the clip-path effect works properly

      .button {
        background-color: #1D1D1B;
        color: #F0F2F1;
        border-radius: 25px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 767px) {
  .landing {
    .sliderContainer {
      .title {
        font-size: 4em;
        line-height: 95%;
        margin-bottom: 0.25em;
      }
      
      .descriptionContainer {
        .description {
          font-size: 0.8em;
          width: 80%;
        }
      }
      
      .buttonContainer {
        .button {
          padding: 15px 25px;
          font-size: 0.8em;
        }
      }
    }
  }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .landing {
    .sliderContainer {
      .title {
        font-size: 6em;
        line-height: 90%;
        margin-bottom: 0.25em;
      }
      
      .descriptionContainer {
        .description {
          font-size: 1.125em;
          width: 75%;
        }
      }
      
      .buttonContainer {
        .button {
          padding: 20px 35px;
          font-size: 1em;
        }
      }
    }
  }
}

// Desktop
@media only screen and (min-width: 1025px) {
  .description {
    font-size: 1.3em;
    width: 50%;
  }

  .landing {
    .sliderContainer {
      .title {
        font-size: 10em;
        line-height: 90%;
        margin-bottom: 0.15em;
      }
      
      .descriptionContainer {
        .description {
          font-size: 1.3em;
          width: 50%;
        }
      }
      
      .buttonContainer {
        .button {
          padding: 20px 35px;
          font-size: 1em;
        }
      }
    }
  }
}
