.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .video {
        border-radius: 10px;
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .container {
        .video {
            width: 100%;
        }
    }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        .video {
            width: 80%;
        }
    }
}
  
// Desktop
@media only screen and (min-width: 1025px) {
    .container {
        .video {
            width: 75%;
        }
    }
}
  